.row li {
    list-style: none;
    padding: 40px;
    /* color: black; */
    text-align: center;
    margin-top: 16px;
    /* margin-right: 57px; */
    border: 1px solid;
    box-shadow: 0 0 30px inset #63b2ae;
}