<div *ngIf="promiseVal">
  <h3 class="mt-4">Promise</h3>
  <hr>
  <strong> {{ promiseVal | titlecase}} </strong>
  <hr>
</div>

<div class="row">
  <div class="col-md-6 " >
    <h5>PromiseTheory</h5>
    <ol>
      <li> async</li>
      <li>
        <dl>
          <span> Return single value </span>
          <dd style="margin: 0px;"> - resolve </dd>
          <dd style="margin: 0px;"> - reject</dd>
        </dl>
      </li>
    </ol>
    <h5> ObservablesTheory</h5>
    <ol>
      <li> async or sync</li>
      <li> Return stream of values</li>
    </ol>
  </div>

  <div id="box1" class="col-md-6 simpleText">
    fetching data.....
  </div>
</div>
